
.DS_Store
*.xml
*.iml
*.pyc
*.pyc
surfBetter/api/__pycache__/app.cpython-39.pyc
surfBetter/node_modules/
surfBetter/build/
surfBetter/node_modules/.cache/.eslintcache
surfBetter/build/asset-manifest.json
surfBetter/build/index.html
surfBetter/build/static/css/main.9cc1094a.chunk.css
surfBetter/build/static/css/main.9cc1094a.chunk.css
surfBetter/build/static/css/main.9cc1094a.chunk.css.map
surfBetter/build/static/js/2.feddd3e5.chunk.js
surfBetter/build/static/js/2.feddd3e5.chunk.js.LICENSE.txt
surfBetter/build/static/js/2.feddd3e5.chunk.js.map
surfBetter/build/static/js/main.9d95a5c6.chunk.js
surfBetter/build/static/js/main.9d95a5c6.chunk.js.map
surfBetter/node_modules/.cache/.eslintcache
