
.DS_Store
*.xml
*.iml
*.pyc
*.pyc
*.idea
front/api/__pycache__/app.cpython-39.pyc
front/node_modules/
front/api/env
front/api/env/
front/build/
front/node_modules/
imagesServer/img/deletingcomment.png
.vscode/settings.json
front/api/database/*
front/api/statics/user/*
