
.DS_Store
*.xml
*.iml
*.pyc
*.pyc
surfBetter/api/__pycache__/app.cpython-39.pyc
surfBetter/node_modules/
surfBetter/api/env
surfBetter/build/
surfBetter/node_modules/
imagesServer/img/deletingcomment.png
.vscode/settings.json
