/*Modules*/
@import "vars";
@import "~@fortawesome/fontawesome-free/css/all.css";

/*Extends*/
%common-transition-hover-menu {
  transition: $mouse-is-hover-menu;
  font-weight: bolder;
  text-decoration: none;
}

/*Extends for all kind of buttons*/
%buttons {
  font-weight: bolder;
  padding: .5em;
  transition: $mouse-is-over-menu;
  width: 90px;
  display: block;
  border-style: solid;
}

/*Extends for all type of hover on buttons*/
%hover-buttons{
  transition: $mouse-is-hover-menu;
}

%over-buttons{
  transition: $mouse-is-over-menu;
}

/*Extends for header font-awesome buttons*/
%header-font-awesome-buttons{
  @extend %over-buttons;
  margin-top: .2em;
}

/*Extends to show modal*/
%show-modal{
  opacity: 1;
  visibility: visible;
}


%forms-common{
  width: 70%;
  margin: 0 auto;

  .modalInputs {
    border-color: transparent;
    display: flex;
    flex-flow: column;
    justify-content: space-around;

    legend {
      font-size: x-large;
      margin-bottom: .5em;
    }

    input, textarea {
      margin-bottom: 1em;
      background-color: $color-blue-content;
      text-align: center;
      padding: .5em;
      color: black;
      border-style: none;
    }

    input::placeholder, textarea::placeholder {
      color: gray;
    }
  }
}


/*Extends for modals*/
%common-modal-style{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-background-modal-opacity;
  transition: $modal-transition;
  opacity: 0;
  visibility: hidden;
  .container {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    background-color: $color-white;
    header {
      height: 100px;
      >a {
        display: block;
        margin-right: .3em;
      }
      img {
        height: 100px;
      }
    }

    .contentModal {
      margin-top: .5em;
      margin-bottom: 2em;

      form {
        fieldset {
          border: none;
        }
        .modalInputs{
          input{
            padding: .5em;
            margin-bottom: 1em;
          }
          input:last-of-type{
            margin-bottom: 0em;
          }
          textarea{
            margin-top: 1em !important;
            width: 250px !important;
          }
        }
        .modalButtons {
          border-color: transparent;
          display: flex;
          justify-content: space-around;
          input:hover{
            background-color: white;
            color: black;
          }
        }
        .modalButtonSingle {
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          border: none;
          margin: 0;
          padding: 0;
        }
      }
      >.modalOptionsButtons{
        display: flex;
        justify-content: space-around;
        a{
          cursor: pointer;
        }
      }
    }
  }
}

%common-likes-style{
  width: 15%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  >*{
    display: block;
  }
  span{
    position: relative;
    top:10px;
    z-index: 0;
  }
  p{
    position: relative;
    bottom: 5px;
    z-index: 1;
  }
}

%common-beach-comments-style{
  background-color: white;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
  border-bottom: 1px solid $color-black;
  >*{
    display: block;
    width: 15%;
  }
  /*Likes*/
  .commentLike{
    padding-top: .5em;
    @extend %common-likes-style;
    cursor:pointer;
    transition: $mouse-is-over-normal;
  }
  .commentLike:hover{
    color: $color-red;
    transition: $mouse-is-hover-normal;
  }
  >p{
    width: 70%;
  }
  .deleteComment {
    cursor:pointer;
    transition: $mouse-is-over-normal;
  }
  .deleteComment:hover {
    color: $color-red;
    transition: $mouse-is-hover-normal;
  }
  .beachTime {
    position: relative;
    left: 110px;
    bottom: 10px;
    font-size: small;
    padding: 0;
    margin: 0;
  }
}
%common-input-text-area{
  font-family: $font-inputs;
  color: $color-black;
  background-color: $color-gray-comment-form;
  font-size: large;
  padding: 1em;
}

%common-input-text-area_placeholder{
  color: $color-header;
}


%common-beach-form-style {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between ;
  margin: 1em;
  textarea {
    padding: .5em;
    border: 1px solid gray ;
    margin-bottom: 1em;
    width: 100%;
  }

}


/*Mixing*/

/**
 * do transition on hover menu
 */
@mixin do-transition-hover-menu($color, $color-shadow){
  @extend %common-transition-hover-menu;
  color : $color;
  text-shadow: 1px 2px 2px $color-shadow;
}


/**
 * Its uses to create buttons
 */
@mixin create-button($color, $back-color){
  @extend %buttons;
  color: $color;
  background-color: $back-color;
}

/**
 * create hover on buttons
 */
@mixin create-hover-button($color, $back-color){
  @extend  %hover-buttons;
  display: block;
  color: $color;
  background-color: $back-color;
}

/**
 * Create header button by extend hoverButtons
 */
@mixin create-header-font-awesome-button($color, $back-color){
  @extend %header-font-awesome-buttons;
  cursor: pointer;
  color: $color;
  background-color: $back-color;
}

@mixin do-transition-hover-font-awesome-button($color, $back-color){
  @extend %common-transition-hover-menu;
  cursor: pointer;
  color: $color;
  background-color: $back-color;
}


/**********************************Common targets*****************************/

html {
  background-image: $LightBack;
  //background-color: white;
  font-family: $font-common;
  font-size: $size-common-mobile;
  transition: all 500ms ease;
}

body {
  min-width: 350px;
  box-sizing: border-box;
  margin:0;
  text-align: center;
}

main{
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-family: $font-special;
}

h2 {
  font-family: $font-special;
  font-size: $size-common-mobile-title;
}

h3{
  font-family: $font-special;
}

p {
  font-size: $size-common-mobile;
}

a{
  text-decoration: none;
}

input, textarea{
  @extend %common-input-text-area;
}
input::placeholder, textarea::placeholder{
  @extend %common-input-text-area_placeholder;
}

/*header-common*/
header{
  background-color: $color-header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 10vh;

  a{
    color: $color-white;
  }

  a:hover{
    @include do-transition-hover-menu(
                    $color-white, $color-black
    )
  }
  /*Surf Better logo*/
  >img {
    width: 260px;
    height: 10vh;
  }

  #trigger-mobile{
    margin-right: 14px;
  }

  /*login header*/
  div>label{
    @include create-header-font-awesome-button($color-white, transparent);
    padding-top: 2.4em;
    margin-right: 0.8em;
    cursor: pointer;
    >a {
      color: $color-white;
    }
    >a:hover{
      @include do-transition-hover-font-awesome-button($color-black, transparent)
    }
  }
}

/*Common footer*/
footer{
  background-color: $color-header;
  color: white;
  overflow: hidden;
  padding-top: .5em;
  padding-bottom: .5em;
  margin-top: 2em;
  display: block;
}


/*Menu mobile*/
#menu-mobile{
  background-color: $color-black;
  width: 100%;
  ul {
    display: flex;
    flex-flow: column;
    list-style: none;
    margin: 0;
    padding: 0;

    /*Extra padding only for first and last*/
    li:first-child{
      padding-top: 1em;
    }
    li:last-child{
      padding-bottom: 1em;
    }

    li{
      padding-top: .4em;
      padding-bottom: .4em;
      a{
        @extend %over-buttons;
        color: white;
        cursor: pointer;
      }
      a:hover{
        @include do-transition-hover-menu(
                        $color-black, $color-white
        );
      }
    }
    li:hover{
      width: 100%;
      background-color: #16697A;
    }

  }
}

#darkModeButton{
  @include create-header-font-awesome-button($color-white, transparent);
}

#darkModeButton:hover{
  @include do-transition-hover-font-awesome-button($color-yellow, transparent)
}

#exitButtonHeader{
  @include create-header-font-awesome-button($color-yellow, transparent)
}

#exitButtonHeader:hover{
  @include do-transition-hover-font-awesome-button($color-white, transparent)
}




/***************************************** Login *************************************/

/*Main login*/
.logSignMain{
  margin: 0 auto;
  width: 100%;
  #btn-modal-log-in{
    display: none;
  }
  #btn-modal-sign-in{
    display: none;
  }
  /*Slider*/
  .slideBar{
    transition: $normal-transition;
    width: 350px;
    margin: 0 auto;
    /*by default display none*/
    .slide{
      display: none;
      img{
        width: 100%;
      }
      p{
        font-family: $font-special;
        font-weight: bold;
        text-align: left;
        font-style: oblique;
        font-size: small;
        position: relative;
        top: 130px;
        left: 30px;
        bottom: 0;
      }
    }
    .sliderButtons{
      margin-top: -.3em;
      display: flex;
      justify-content: space-between;
      padding-left: 1em;
      padding-right: 1em;
      background-color: $color-blue-content;
      cursor: pointer;
    }
    .sliderButtons:hover{
      background-color: #16697A;
      color: white;
      transition: $mouse-is-hover-normal;
    }
  }
  .containMain{
    margin: 0 auto;
    padding-right: .5em;
    padding-left: .5em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .containMain p{
    text-align: left;
  }
}

/********************* Modals ************************/
/*Sign in*/
.modalSignIn{
  @extend %common-modal-style
}
/*Login*/
.modalLogin{
  @extend %common-modal-style
}
/*Options*/
.optionsModal{
  @extend %common-modal-style
}
/*Recover password*/
.modalPassword{
  @extend %common-modal-style
}
/*Update user info*/
.modalUserInfoUpdate{
  @extend %common-modal-style
}



/*On clicks*/
/*sign in modal*/
#btn-modal-sign-in:checked ~ .modalSignIn{
  @extend %show-modal
}
/*log in modal*/
#btn-modal-log-in:checked ~ .modalLogin{
  @extend %show-modal
}
/*options modal*/
#user-options-modal:checked ~ .optionsModal{
  @extend %show-modal
}
/*Password modal*/
#password-update-modal:checked ~ .modalPassword{
  @extend %show-modal
}
#user-info-option-modal:checked ~ .modalUserInfoUpdate{
  @extend %show-modal
}


.container{
  .img{
    width: 400px;
  }
}

/*********************** PROFILE *******************/

/*Image update user hidden*/
.profileAvatarImage{
  .avatarImage{
    @extend %over-buttons;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 2pt solid black;
    border-radius: 50%;
    opacity: 1;
    cursor:pointer;

  }
  .avatarImage:hover{
    @extend %hover-buttons;
    opacity: 0.5;
  }
  input {
    visibility: hidden;
    display: none;
  }
}

.headerProfile{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  label {
    width: 90px;
  }
}

.profilesUserDescription{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  >*{
    display: block;
    margin: 0 auto;
  }
}

/*Options labels*/
#user-options-modal , #user-info-option-modal, #password-update-modal{
  display: none;
}

/************************** BEACHES *****************/

.contentBeaches{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.beachBox{
  margin-top: 2em;
  box-shadow: black 2px 3px 3px;
  margin-bottom: 2em;
  width: 340px;
  height: 100%;
  background-color: $color-back-beaches;
}

.beachImage{
  width: 340px;
  height: 200px;
  span {
    float: right;

  }
}

.beachInfo{
  .beachHeader{
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    /*Icons*/
    h2{
      font-size: x-large;
    }
    >div{
      width: 25%;
      display: flex;
      justify-content: space-between;
      /*info button*/
      a {
        cursor:pointer;
        color: #16697A;
        transition: $mouse-is-over-normal
      }
      a:hover{
        color: $color-black;
        transition: $mouse-is-hover-normal;
      }
    }
  }
  .beachPoints {
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 2em;
    ul {
      display: block;
      padding: 0;
      margin: 0;
      li {
        margin-top: -1em;
        margin-bottom: -1em;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  .beachFooter{
    background-color: $color-header;
    color: $color-white;
    padding-right: 1em;
    display: flex;
    justify-content: space-between;
    /** Comments */
    >span{
      padding-left: 1em;
      cursor:pointer;
      display: block;
      transition: $mouse-is-over-normal;
      width: 85%;
    }
    >span:hover {
      color: $color-black;
      background-color: $color-back-beaches;
      transition: $mouse-is-hover-normal;
    }
    /** Likes*/
    .beachLikes {
      @extend %common-likes-style;
      cursor: pointer;
      transition: $mouse-is-over-normal;
    }
    .beachLikes:hover{
        color: $color-red;
        transition: $mouse-is-hover-normal;
    }
  }
  .beachBoxForm {
    display: flex;
    justify-content: space-between;
    align-content: baseline;
    align-items: baseline;
    background-color: $color-header;
    color: $color-white;
    form{
      width: 80%;
      @extend %common-beach-form-style;
      textarea{
        background-color: $color-back-beaches;
      }
      input {
        font-size: large;
        width: 200px;
        border: none;
      }
      input:hover{
        background-color: $color-white;
        color: $color-black;
      }
    }

    span{
      display: flex;
      justify-content: center;
      width: 20%;
      cursor:pointer;
      color: $color-white;
      transition: $mouse-is-over-normal;
    }
    span:hover{
      color: $color-black;
      transition: $mouse-is-hover-normal;
    }
  }
}
/***************** Beach Search *****************/
.beachSearch{
  display: flex;
  flex-flow: row;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  *{
    display: block;
    margin: 2em;
    padding: .5em;
  }
  input:first-of-type{
    background-color: $color-gray-comment-form;
    width: 60%;
    border: none;
  }
  input:first-of-type::placeholder{
    color: $color-header
  }
  input:last-of-type{
    width: 100px;
    font-family: $font-common;
    transition: $mouse-is-over-normal;
  }
  input:last-of-type:hover{
    transition: $mouse-is-hover-normal;
    color: black;
    background-color: white;
  }
}



/******************* BEACH BOX ********************/
.beachBoxUnShow{
  display: none;

}
.beachBoxShow{
    border-top: 1px solid black;
    background-color: $color-back-beaches;
    margin-bottom: -.9em;
    padding-bottom: .5em;
    padding-top: .5em;

    .comment {
      @extend %common-beach-comments-style;
      background-color: transparent;
      padding-left: 1em;
    }

}



/********************* BEACH DETAIL ******************/

.beachDetail{
  margin-top: 1em;
  .beachInfoHeader{
    margin-bottom: 1em;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    a {
      cursor:pointer;
      transition: $mouse-is-over-normal;
    }
    a:hover {
      color: $color-header;
      transition: $mouse-is-hover-normal;
    }

  }
  /** Beach image and text*/
  .beachDescription {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    >div{
      width: 100%;
    }
    img {
      box-shadow: black 2px 3px 3px;
    }
  }

  /** Beach waves by forecast widget*/
  .foreCastInfo{
    .beachWaves {
      display: flex;
      justify-content: center;
    }
  }
  .beachDetailPoints {
  /*List of definition for the beach poitns list*/
    dl {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      justify-content: space-between;
      >div{
        width: 100%;
        div{
          .star-ratings{
            display: flex;
            flex-flow: row;
          }
        }
        dd {
          margin: 0;
          padding: 0;
        }
      }

    }
  }

  .beachComments {
    width: 100%;
    background-color: $color-back-beaches;
    box-shadow: black 2px 3px 3px;
    padding-bottom: .5em;
    padding-top: .5em;
    margin-bottom: 2em;

    .comment {
      @extend %common-beach-comments-style
    }

    form {
      @extend %common-beach-form-style;
      //input[]
      input[type="text"]{
        margin-bottom: 1em;
      }
      textarea{
        height: 50px;
        margin-bottom: .5em;
        background-color: $color-gray-comment-form;
      }
      textarea::placeholder{
        color: $color-header;
      }
      input[type="submit"] {
        border:none;
        font-family: $font-common;
        transition: $mouse-is-over-normal;
        color: $color-black;
        background-color: $color-yellow;
        width: 200px;
        margin: 0 auto;
      }
      input[type="submit"]:hover {

        border:none;
        font-family: $font-common;
        color: black;
        background-color: white;
        transition: $mouse-is-hover-normal;
      }
      input::placeholder{
        color: $color-header;
      }
    }
  }
}

/*************************** CONTACT *****************/
.infolojo{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  img{
    width: 128px;
  }
  a{
    display: block;
    width: 100px;
    padding: .5em;
    margin: 0 auto;
  }
}
.infolojoMembers {
  header{
    background-color: transparent;
    display: block;
    h2{
      font-size: x-large;
    }
  }
  .members{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items:center;
    width: 100%;
    flex-wrap: wrap;
    >div{
      background-color: $color-gray-comment-form;
      box-shadow: $color-black 3px 2px;
      margin-bottom: 2em;
      width: 300px;
      padding-bottom: 1em;
      img{
        width: 300px;
        height: 280px;
        object-fit: cover;
      }
      div {
        p{
          padding-left: 1em;
          padding-right: 1em;
          height: 130px;
        }
        ul {
          padding-left: 1em;
          padding-right: 1em;
          margin: 0;
          display: flex;
          flex-flow: row;
          align-items: flex-end;
          justify-content: space-between;
          list-style: none;
       }
        li{
          background-color: $color-white;
          a{
            color: $color-black;
            transition: $mouse-is-over-normal;
          }

        }
        li:hover{
          a{
            color: $color-white;

          }
          background-color: $color-black;
        }

      }
    }
    div:last-of-type{
      div{
          ul{
            justify-content: space-around;
          }
        }
      }
  }
}

/*Contact footer*/
#contact-me{
  .footer-content{
    form {
      fieldset{
        border: none;
        min-inline-size: min-content;
        width: 90%;
        margin: 0 auto;
        >*{
          width: 100%;
        }
        input[type="text"]{
          margin-bottom: 1em;
        }
        textarea{
          height: 100px;
          margin-bottom: .5em;
          background-color: $color-gray-comment-form;
        }
        textarea::placeholder{
          color: $color-header;
        }
        input[type="submit"] {
          border:none;
          font-family: $font-common;
          transition: $mouse-is-over-normal;
          color: $color-black;
          background-color: $color-yellow;
          width: 100px;
          margin: 0 auto;
        }
        input[type="submit"]:hover {

          border:none;
          font-family: $font-common;
          color: black;
          background-color: white;
          transition: $mouse-is-hover-normal;
        }
        input::placeholder{
          color: $color-header;
        }
      }
    }
    .footerInfo{
      border-top: 2pt solid gray;
      width: 90%;
      margin: 0 auto;

      a {
        color: $color-yellow;
        transition: $mouse-is-over-normal;
      }
      a:hover{
        color: black;
        transition: $mouse-is-hover-normal;
      }
    }
  }
}

.termsAndConditions {
  text-align: left;
}


/**************************** FOOTER ******************/
.CommonFooter {
  display: flex;
  flex-flow: column;
  background-color: $color-header;
  section:first-of-type{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin-bottom: 2em;
    div{
      width: 100%;
      margin: 0 auto;
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
  }
  a{
    color: $color-yellow;
    cursor: pointer;
    transition: $mouse-is-over-normal;
  }
  a:hover{
    color: $color-black;
    transition: $mouse-is-hover-normal;
  }
}

/**************************** VARS ********************/
.buttonBlue{
  @include create-button($color-white, $color-header)
}

.buttonBlue:hover{
  @include create-hover-button($color-white, $color-background-button-modal)
}

.buttonYellow{
  @include create-hover-button($color-black, $color-yellow)
}

.buttonYellow:hover{
  @include create-hover-button($color-white, $color-background-button-modal)
}

.red-flag {
  color: red;
}

.orange-flag {
  color: orange;
}

.yellow-flag {
  color: yellow;
}

.green-flag {
  color: green;
}

.seeMore{
  color: blue;
}

/*Scroll button*/
#scroll-button{
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  background-color: $color-black; /* Set a background color */
  color: $color-white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  transition: $mouse-is-over-normal;
}
#scroll-button:hover{
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  background-color: $color-white; /* Set a background color */
  color: $color-black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  transition: $mouse-is-over-normal;
}


/*inputs errors*/
.errors{
  border: solid 1px red !important;
  box-shadow: 1px 1px gray !important;
}
/*input errors placeholder*/
.errors::placeholder{
  color: $color-red !important;
}

/*Header desk nav dissabled by default*/
.navDesk{
  display: none;
}
/*var to hidde menu*/
.menuMobileHidden{
  display: none;
}
/*var to show menu*/
.menuMobileVisible{
  display: inline-block;
}

.trigger-nmobile{
  display: block;
}

/*Marker style*/
.infoWindow {
  background-color: $color-header;
  color: white;
  border-radius: 5pt;
  padding: .5em;
  cursor: pointer;
  transition: $mouse-is-over-normal;
}
.infoWindow:hover {
  background-color: transparent;
  color: black;
  transition: $mouse-is-hover-normal;
}


/****************************** DARK MODE ************************/



.darkMode{
  background: $dark-back;
  color: $dark-font;


  .beachDetailBack{
    i:hover{
      color: $dark-hover !important;
    }
  }
  footer, header{
    background-color: $dark-header;
    a:hover{
      color: $color-white;
    }
    #darkModeButton, #exitButtonHeader{
      background-color: $dark-header;
    }
  }
  .beachBoxShow {
    border-top: 1px solid black;
    background-color: $color-back-beaches;
    margin-bottom: -.9em;
    padding-bottom: .5em;
    padding-top: .5em;
  }
  #menu-mobile{
    background-color: $dark-header;
    ul{
      li:hover{
        background-color: $color-yellow;
      }
    }
  }

  .beachComments{
    background-color: $dark-header;
    .comment{
      background-color: #3B666B;
    }
    form{
      input{
        color: $color-black !important;
      }
    }
  }

  /*Contact*/
  .infolojo{
    img{
      border: 3pt solid $color-black;
      border-radius: 25pt;
    }
  }
  .infolojoMembers{
    header{
      background-color: transparent;
    }
    .members>div{
      background-color: $dark-color-content;

      ul li a i{
        background-color: $dark-color-content;
      }
    }
  }

  .beachSearch{
    input[type="submit"]{
      background-color: $color-yellow;
      color: black;
    }
    input[type="submit"]:hover{
      background-color: $color-yellow;
      color: white;
      opacity: .5;
    }
  }

  /*Beach cards*/
  .beachInfo{
    background-color: $color-header;
    div div a{
      color: $color-yellow;
    }
  }
  .beachFooter{
    background-color: $dark-header;
  }
  .beachBoxShow{
    background-color: $dark-color-content;
  }
  .beachBoxForm{
    background-color: $dark-header;
    input[type="submit"]{
      color: $color-black;
      background-color: $color-yellow;
    }
    input[type="submit"]:hover{
      transition: $mouse-is-hover-normal;
    }
  }
  .container{
    background-color: $color-black;
  }

}

@media only screen and (min-width: 520px) {
  /*login and slider*/
  .logSignMain {
    .slideBar {

      transition: all 500ms ease-in-out;
      width: 500px;
      .slide{
        p{
          top: 200px;
          font-size: medium;
        }
      }
    }
  }
  %common-modal-style{
    .container{
      margin: 0 auto;
      width: 360px;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  /*Header login*/
  header{
    >label{
      a:last-child{
        margin-left: 1em;
        padding-right: 1em;
      }
    }
  }

  /*Nav changes*/
  /*Menu mobile*/
  #menu-mobile{
    ul{
      flex-flow: row;
      justify-content: space-around;
      align-items: center;
      margin-top: .6em;
      margin-bottom: .6em;
      li:first-child {
        padding: 0;
      }
      li:last-child {
        padding: 0;
      }
      li {
        margin: 0;
        padding: 0;
      }
      li:hover{
        background-color: transparent;
        width: auto;
      }
    }
  }


  .profilesUserDescription{
    div {
      width: 40%;
    }
    div:last-child{
      margin-top:2em;
    }
  }

  /*Contact footer*/
  #contact-me{
    .footer-content{
      form {
        fieldset{
          width: 500px;
        }
      }
      .footerInfo{
        border: none;
        width: 500px;
        margin: 0 auto;
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  html{
    font-size: $size-common-desk;
  }
  h2{
    font-size: $size-common-desk-title;
  }
  /*login*/
  /*slider*/
  .logSignMain {
    .slideBar {

      width: 668px;
      .slide{
        p{
          top: 260px
        }
      }
    }
    .containMain{
      width: 60%;
      p{

        margin-left: 2em;
      }
    }
  }

  /*Header menus*/
  /*Dissable nav menu*/
  #menu-mobile {
    display: none;
  }
  /*hidde trigger menu*/
  #trigger-mobile {
    display: none ;
    visibility: 0 ;
  }

  /*header desktop*/
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .navDesk {
      margin-top: .4em;
      margin-left: 2em;
      margin-right: 2em;
      width: 90%;
      display: block;
      float: none;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  .infolojo{
    display: block;
    margin-left: 1em;
    figure{
      display: flex;
      flex-flow: row;
      width: 100%;
      margin: 0 auto;
      justify-content: space-around;

      figcaption{
        display: block;
        float: right;
        width: 400px;
        text-align: left;

        a{
          float: left;
          width: 100px;
          padding: .5em;
          margin: 0 auto;
        }
      }
      img{
        display: block;
        width: 200px;
      }
    }
  }

  /*Contact members*/
  .infolojoMembers {
    .members {
      display: flex;
      flex-flow: row;
      justify-content: space-around;
    }
  }



  /*Contact footer*/
  #contact-me{
    .footer-content{
      display: flex;
      justify-content: space-around;
      form {
        fieldset {
          legend {
            font-size: x-large;
          }
          input{
            padding: .5em;
          }
          textarea{
            padding: .5em;
          }
          input[type="submit"]{
            font-size: large;
            width: 200px;
            margin: 0 auto;
          }
        }
      }
      .footerInfo{
        margin: 0;
        float: right;
        p {
          font-size: x-large;
        }
      }
    }
  }

  /*heder font-awesome-icons icons*/
  #darkModeButton{
    background-color: $color-header;
  }
  #darkModeButton:hover{
    background-color: $color-header;
  }
  #exitButtonHeader{
    background-color: $color-header;
  }
  #exitButtonHeader:hover{
    background-color: $color-header;
  }

  /*Beach detail*/
  .beachDetail {
    .beachDetailPoints {
      /*List of definition for the beach poitns list*/
      dl {
        > div {
          width: 40%;
          padding: 1em;
        }
      }
    }
    .beachDescription {
      img {
        box-shadow: black 2px 3px 3px;
        width: 460px;
      }
    }
    .beachComments {
      width: 600px;
      margin: 0 auto;
    }
  }

  /*Footer*/
  .CommonFooter {
    >section:first-of-type{
      div{
        width: 25%;
      }
    }
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  html {
    font-size: $font-comon-big-desk;
  }
  h2 {
    font-size: $font-comon-big-title-desk;
  }

  /*login*/
  /*slider*/
  .logSignMain {
    .slideBar {

      transition: all 500ms ease-in-out;
      width: 982px;
      .slide{
        p{
          top: 400px;
          font-size: large;

        }
      }
    }
    .containMain{
      width: 50%;
    }
  }

  header{
    >label{
      a:last-child{
        margin-left: .5em;
        padding-right: 1em;
      }
    }
  }

  .beachDetail {
    /** Beach image and text*/
    .beachDescription {
      display: flex;
      flex-flow: row;
      div {
        width: 50%;
      }
      img {
        box-shadow: black 2px 3px 3px;
        width: 460px;
      }
    }
    .beachComments {
      width: 70%;
    }
  }

  .infolojo{
    figure{
      justify-content: space-around;
      img{
        display: block;
        width: 300px;
      }
      figcaption{
        width: 500px;
      }
    }
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  /*login*/
  /*slider*/
  .logSignMain {

    .containMain{
      width: 40%;
    }
  }

  .beachDetail {
    /** Beach image and text*/
    .beachDescription {
      div {
        width: 60%;
      }
    }
  }
}