/*Modules*/
@import "vars";
@import "~@fortawesome/fontawesome-free/css/all.css";

/*Extends*/
%common-transition-hover-menu {
  transition: $mouse-is-hover-menu;
  font-weight: bolder;
  text-decoration: none;
}

/*Extends for all kind of buttons*/
%buttons {
  font-weight: bolder;
  padding: .5em;
  transition: $mouse-is-over-menu;
  width: 90px;
  display: block;
  border-style: solid;
}

/*Extends for all type of hover on buttons*/
%hover-buttons{
  transition: $mouse-is-hover-menu;
}

%over-buttons{
  transition: $mouse-is-over-menu;
}

/*Extends for header font-awesome buttons*/
%header-font-awesome-buttons{
  @extend %over-buttons;
  margin-top: .2em;
}

/*Extends to show modal*/
%show-modal{
  opacity: 1;
  visibility: visible;
}

/*Extends for modals*/
%common-modal-style{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-background-modal-opacity;
  transition: $modal-transition;
  opacity: 0;
  visibility: hidden;
  .container {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    background-color: $color-white;

    header > a {
      display: block;
      margin-right: .3em;
    }

    .contentModal {
      margin-top: .5em;
      margin-bottom: 2em;
      
      form {
        width: 70%;
        margin: 0 auto;

        .modalInputs {
          border-color: transparent;
          display: flex;
          flex-flow: column;
          justify-content: space-around;

          legend {
            font-size: x-large;
            margin-bottom: .5em;
          }

          input, textarea {
            margin-bottom: 1em;
            background-color: $color-blue-content;
            text-align: center;
            padding: .5em;
            color: black;
            border-style: none;
          }

          input::placeholder, textarea::placeholder {
            color: black;
            font-weight: bolder;
          }
        }

        .modalButtons {
          border-color: transparent;
          display: flex;
          justify-content: space-between;
        }
        .modalButtonSingle {
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          border: none;
          margin: 0;
          padding: 0;
        }
      }
      >.modalOptionsButtons{
        display: flex;
        justify-content: space-around;
        a{
          cursor: pointer;
        }
      }
    }
  }
}

/*Mixing*/

/**
 * do transition on hover menu
 */
@mixin do-transition-hover-menu($color, $color-shadow){
  @extend %common-transition-hover-menu;
  color : $color;
  text-shadow: 1px 2px 2px $color-shadow;
}


/**
 * Its uses to create buttons
 */
@mixin create-button($color, $back-color){
  @extend %buttons;
  color: $color;
  background-color: $back-color;
}

/**
 * create hover on buttons
 */
@mixin create-hover-button($color, $back-color){
  @extend  %hover-buttons;
  display: block;
  color: $color;
  background-color: $back-color;
}

/**
 * Create header button by extend hoverButtons
 */
@mixin create-header-font-awesome-button($color, $back-color){
  @extend %header-font-awesome-buttons;
  cursor: pointer;
  color: $color;
  background-color: $back-color;
}

@mixin do-transition-hover-font-awesome-button($color, $back-color){
  @extend %common-transition-hover-menu;
  cursor: pointer;
  color: $color;
  background-color: $back-color;
}


/**********************************Common targets*****************************/

html {
  background-image: $LightBack;
  //background-color: white;
  font-family: $font-common;
  font-size: $size-common-mobile;
  transition: all 500ms ease;
}

body {
  min-width: 350px;
  box-sizing: border-box;
  margin:0;
  text-align: center;
}

main{
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: $font-special;
}

h2 {
  font-size: $size-common-mobile-title;
}

p {
  font-size: $size-common-mobile;
}

a{
  text-decoration: none;
}

/*header-common*/
header{
  background-color: $color-header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 100px;

  a{
    color: $color-white;
  }

  a:hover{
    @include do-transition-hover-menu(
      $color-white, $color-black
    )
  }
  /*Surf Better logo*/
  >img {
    width: 200px;
    height: 68.7667px;
  }

  #trigger-mobile{
    margin-right: 14px;
  }

  /*login header*/
  div>label{
    @include create-header-font-awesome-button($color-white, $color-header);
    padding-top: 2.4em;
    margin-right: 0.8em;
    cursor: pointer;
    >a {
      color: $color-white;
    }
    >a:hover{
      @include do-transition-hover-font-awesome-button($color-black, $color-header)
    }
  }  
}
/*Menu mobile*/
#menu-mobile{
  background-color: $color-black;
  width: 100%;
  ul {
    display: flex;
    flex-flow: column;
    list-style: none;
    margin: 0;
    padding: 0;
    
    /*Extra padding only for first and last*/
    li:first-child{
      padding-top: 1em;
    }
    li:last-child{
      padding-bottom: 1em;
    }
    
    li{
      padding-top: .4em;
      padding-bottom: .4em;
      a{
        @extend %over-buttons;
        color: white;
        cursor: pointer;
      } 
      a:hover{
        @include do-transition-hover-menu(
        $color-black, $color-white
        );
      }
    }
    li:hover{
      width: 100%;
      background-color: #16697A;
    }

  }
}

#darkModeButton{
  @include create-header-font-awesome-button($color-white, transparent);
}

#darkModeButton:hover{
  @include do-transition-hover-font-awesome-button($color-yellow, transparent)
}

#exitButtonHeader{
  @include create-header-font-awesome-button($color-yellow, transparent)
}

#exitButtonHeader:hover{
  @include do-transition-hover-font-awesome-button($color-white, transparent)
}




/***************************************** Login *************************************/

/*Main login*/
.logSignMain{
  margin: 0 auto;
  width: 100%;
  #btn-modal-log-in{
    display: none;
  }
  #btn-modal-sign-in{
    display: none;
  }
  /*Slider*/
  .slideBar{
    transition: $normal-transition;
    width: 350px;
    margin: 0 auto;
    /*by default display none*/
    .slide{
      display: none;
      img{
        width: 100%;
      }
      p{
        font-family: $font-special;
        font-weight: bold;
        text-align: left;
        font-style: oblique;
        font-size: small;
        position: relative;
        top: 130px;
        left: 30px;
        bottom: 0;
      }
    }
    .sliderButtons{
      margin-top: -.3em;
      display: flex;
      justify-content: space-between;
      padding-left: 1em;
      padding-right: 1em;
      background-color: $color-blue-content;
      cursor: pointer;
    }
    .sliderButtons:hover{
      background-color: #16697A;
      color: white;
      transition: $mouse-is-hover-normal;
    }
  }
  .containMain{
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .containMain p{
    text-align: left;
  }
}

/********************* Modals ************************/
/*Sign in*/
.modalSignIn{
  @extend %common-modal-style
}
/*Login*/
.modalLogin{
  @extend %common-modal-style
}
/*Options*/
.optionsModal{
  @extend %common-modal-style
}
/*Recover password*/
.modalPassword{
  @extend %common-modal-style
}
/*Update user info*/
.modalUserInfoUpdate{
  @extend %common-modal-style
}



/*On clicks*/
/*sign in modal*/
#btn-modal-sign-in:checked ~ .modalSignIn{
  @extend %show-modal
}
/*log in modal*/
#btn-modal-log-in:checked ~ .modalLogin{
  @extend %show-modal
}
/*options modal*/
#user-options-modal:checked ~ .optionsModal{
  @extend %show-modal
}
/*Password modal*/
#password-update-modal:checked ~ .modalPassword{
  @extend %show-modal
}
#user-info-option-modal:checked ~ .modalUserInfoUpdate{
  @extend %show-modal
}


.container{
  .img{
    width: 400px;
  }
}

/*********************** PROFILE *******************/

/*Image update user hidden*/
.profileAvatarImage{
  .avatarImage{
    @extend %over-buttons;
    width: 200px;
    height: 200px;
    border: 2pt solid black;
    border-radius: 50%;
    opacity: 1;
    cursor:pointer;
    
  }
  .avatarImage:hover{

    @extend %hover-buttons;
    opacity: 0.5;
  }
  input {
    visibility: hidden;
    display: none;
  }
}

.headerProfile{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  label {
    width: 90px;
  }
}

.profilesUserDescription{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

/*Options labels*/
#user-options-modal , #user-info-option-modal, #password-update-modal{
  display: none;
}

/************************** BEACHES *****************/

.contentBeaches{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.beachBox{
  margin-top: 2em;
  margin-bottom: 2em;
  background: darkseagreen;
  width: 340px;

}

.beachHeader{
  width: 340px;
  height: 200px;
}
.beachInfo{

}
/********************* BEACH DETAIL ******************/
.beachDetailBack{
  float:right;
}

.beachDetail{
    margin-top: 5em;
  .beachDescription {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: flex-start;
    >*{
      display: block;
    }
    img {
      border: 4px solid $color-black
    }
    div{
      width: 60vh;
    }
  }
  .beachWaves {
    margin-top: 4em;
    display: flex;
    justify-content: center;
  }
}







/**************************** VARS ********************/
.buttonBlue{
  @include create-button($color-white, $color-header)
}

.buttonBlue:hover{
  @include create-hover-button($color-white, $color-background-button-modal)
}

.buttonYellow{
  @include create-hover-button($color-black, $color-yellow)
}

.buttonYellow:hover{
  @include create-hover-button($color-white, $color-background-button-modal)
}

.red-flag {
  color: red;
}

.orange-flag {
  color: orange;
}

.yellow-flag {
  color: yellow;
}

.green-flag {
  color: green;
}

.seeMore{
  color: blue;
}

/*inputs errors*/
.errors{
  border: solid 1px red !important;
  box-shadow: 1px 1px gray !important;
}
/*input errors placeholder*/
.errors::placeholder{
  color: $color-red !important;
}

/*Header desk nav dissabled by default*/
.navDesk{
  display: none;
}
/*var to hidde menu*/
.menuMobileHidden{
  display: none;
}
/*var to show menu*/
.menuMobileVisible{
  display: inline-block;
}

.trigger-nmobile{
  display: block;
}

@media only screen and (min-width: 520px) {
  /*login and slider*/
  .logSignMain {
    .slideBar {

      transition: all 500ms ease-in-out;
      width: 500px;
      .slide{
        p{
          top: 200px;
          font-size: medium;
        }
      }
    }
  }
  %common-modal-style{
    .container{
      margin: 0 auto;
      width: 360px;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
  /*Header login*/
  header{
    >label{
      a:last-child{
        margin-left: 1em;
        padding-right: 1em;
      }
    }
  }

  /*Nav changes*/
  /*Menu mobile*/
  #menu-mobile{
    ul{
      flex-flow: row;
      justify-content: space-around;
      align-items: center;
      margin-top: .6em;
      margin-bottom: .6em;
      li:first-child {
        padding: 0;
      }
      li:last-child {
        padding: 0;
      }
      li {
        margin: 0;
        padding: 0;
      }
      li:hover{
        background-color: none;
        width: auto;
      }
    }
  }


  .profilesUserDescription{
    div {
      width: 50%;
    }
    div:last-child{
      margin-top:2em;
    }
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  html{
    font-size: $size-common-desk;
  }
  h2{
    font-size: $size-common-desk-title;
  }
  /*login*/
  /*slider*/
  .logSignMain {
    .slideBar {

      width: 668px;
      .slide{
        p{
          top: 260px
        }
      }
    }
    .containMain{
      width: 60%;
      p{

        margin-left: 2em;
      }
    }
  }

  /*Header menus*/
  /*Dissable nav menu*/
  #menu-mobile {
    display: none;
  }
  /*hidde trigger menu*/
  #trigger-mobile {
    display: none ;
    visibility: 0 ;
  }

  /*header desktop*/
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .navDesk {
      margin-top: .4em;
      margin-left: 2em;
      margin-right: 2em;
      width: 90%;
      display: block;
      float: none;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;  
      }
    }
  }

  /*heder font-awesome-icons icons*/
  #darkModeButton{
    background-color: $color-header;
  }
  #darkModeButton:hover{
    background-color: $color-header;
  }
  #exitButtonHeader{
    background-color: $color-header;
  }
  #exitButtonHeader:hover{
    background-color: $color-header;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  html {
   font-size: $font-comon-big-desk;
  }
  h2 {
    font-size: $font-comon-big-title-desk;
  }

  header{
    img{
      width: 300px;
      height: 100px;
    }
  }
  /*login*/
  /*slider*/
  .logSignMain {
    .slideBar {

      transition: all 500ms ease-in-out;
      width: 982px;
      .slide{
        p{
          top: 400px;
          font-size: large;

        }
      }
    }
    .containMain{
      width: 50%;
    }
  }
  
  header{
    >label{
      a:last-child{
        margin-left: .5em;
        padding-right: 1em;
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  /*login*/
  /*slider*/
  .logSignMain {
    
    .containMain{
      width: 40%;
    }
  }
}